.dialog-header {
    -fx-background-color: rgb(2, 23, 28);
    -fx-background-radius: 15 15 0 0;
    -fx-border-radius: 15 15 0 0;
    -fx-padding: 5 10 5 10;
    -fx-alignment: center-left;
    -fx-pref-width: infinity;
}

.dialog-header-title {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.dialog-grid {
    -fx-background-color: linear-gradient(to bottom right, rgba(7, 54, 66, 0.95), rgba(0, 43, 54, 0.95));
    -fx-background-radius: 0 0 15 15;     /* Верхние углы прямые, нижние скруглённые */
    -fx-border-color: rgb(2, 23, 28);
    -fx-border-width: 1;
    -fx-border-radius: 0 0 15 15;         /* То же — только нижние углы скруглены */
}



.dialog-label-turquoise {
    -fx-text-fill: turquoise;
    -fx-font-size: 12px;
}

.dialog-text-field {
    -fx-background-color: rgb(2, 23, 28);
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-pref-width: 300;
}

.dialog-button:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-background-color: white;
    -fx-text-fill: rgb(28, 151, 181);
}

.root-dialog {
    -fx-background-color: transparent;
}


